{% extends 'base.html' %}

{% block title %}Signup{% endblock title %}

    {% block head %}Signup{% endblock head %}
{% block body %}

    
    <form action="/signup" method="post">
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" >
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control"  id="password">
  </div>
  <button type="submit" class="btn btn-outline-info">Signup</button>
    </form>

{% endblock body %}


